<section class="recommendation-section home-page-sections">
  <h2 class="section-title apper-item">Designer Clothes For You</h2>
  <p class="section-subtitle apper-item">
    Immerse yourself in the world of luxury fashion with our meticulously
    crafted designer clothes!
  </p>
  <div class="recommended-products apper-item">
    <div class="product-category">
      <div class="img-container">
        <img src="../../../../assets/images/rrr (1).png" alt="" />
      </div>
      <h5>Accessories</h5>
      <p>
        Complete your ensemble with designer accessories such as handbags,
        scarves, belts, and hats.
      </p>
    </div>
    <div class="product-category">
      <div class="img-container">
        <img src="../../../../assets/images/rrr (2).png" alt="" />
      </div>
      <h5>Dresses</h5>
      <p>
        Explore a stunning range of designer dresses, including evening gowns
        and chic day dresses.
      </p>
    </div>
    <div class="product-category">
      <div class="img-container">
        <img src="../../../../assets/images/rrr (3).png" alt="" />
      </div>
      <h5>Outerwear</h5>
      <p>
        Browse luxurious designer coats, jackets, and blazers to stay stylishly
        warm during colder seasons.
      </p>
    </div>
  </div>
</section>
