section.recommendation-section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  h2.section-title {
    font-family: "Roboto Slab";
    font-weight: 500;
    font-size: 50px;
    line-height: 66px;
    color: #224f34;
  }

  p {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    color: #224f34;
  }

  .recommended-products {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .product-category {
      display: flex;
      flex-direction: column;
      width: 25%;
      .img-container {
        width: 100%;
        aspect-ratio: 5/6;
        img {
          width: 100%;
          object-fit: cover;
        }
      }

      h5 {
        font-family: "Poppins";
        font-weight: 600;
        font-size: 26px;
        line-height: 45px;
        text-align: center;
        color: #373737;
      }

      p {
        font-family: "Poppins";
        font-weight: 500;
        font-size: 18px;
        line-height: 143%;
        text-align: center;
        color: #373737;
      }
    }
  }
}
