section.recommendation-section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  h2.section-title {
    font-family: "Roboto Slab";
    font-weight: 500;
    font-size: clamp(30px, 3vw, 50px);
    color: #224f34;
    width: 80%;
  }

  p.section-subtitle {
    font-family: "Poppins";
    font-weight: 500;
    font-size: clamp(18px, 3vw, 22px);
    color: #224f34;
    width: 80%;
  }

  .recommended-products {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .product-category {
      display: flex;
      flex-direction: column;
      width: clamp(150px, 25%, 350px);
      .img-container {
        width: 100%;
        aspect-ratio: 5/6;
        img {
          width: 100%;
          object-fit: cover;
        }
      }

      h5 {
        width: 100%;
        font-family: "Poppins";
        font-weight: 600;
        font-size: clamp(16px, 2vw, 26px);
        line-height: 45px;
        text-align: center;
        color: #373737;
      }

      p {
        font-family: "Poppins";
        font-weight: 500;
        font-size: clamp(10px, 1.5vw, 16px);
        line-height: 143%;
        text-align: center;
        color: #373737;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
}

@media screen and (max-width: 768px) {
  section.recommendation-section {
    .recommended-products {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
