.product-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 22px;
  color: #454545;
  width: 250px;
}

.quantity-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity-control {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  width: 150px;
}

.quantity-control button {
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.quantity-control span {
  display: flex;
  justify-content: center;
  padding: 5px 10px;
  font-size: 16px;
  width: 25px;
}

.add-to-cart-btn,
.buy-now-btn {
  width: 100%;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.add-to-cart-btn {
  background-color: #f0f0f0;
  color: #000;
}

.buy-now-btn {
  background-color: #224f34;
  color: white;
}
