.testimonial-section {
  justify-content: center!important;

  h2.section-title {
    width: 80%;
    font-family: "Roboto Slab";
    font-weight: 500;
    font-size: 50px;
    line-height: 66px;
    color: #224f34;
  }
}

.slider-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  height: min-content;
}

.slider {
  height: 350px;
  display: grid;
  width: 100%;
  grid-auto-flow: column;
  grid-auto-columns: 32.5%;
  gap: 15px;
  scroll-behavior: smooth;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-inline: contain;
  scrollbar-width: none;
  justify-content: start;
  align-items: center;
}

.slide {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 50px 20px;
  gap: 20px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.055);
  border-radius: 10px;
  filter: drop-shadow(0px 7px 2px rgba(0, 0, 0, 0.1));

  .slide-name {
    h4 {
      font-family: "Roboto Serif";
      font-weight: 600;
      font-size: 22px;
      line-height: 26px;
      color: #224f34;
    }
  }

  .slide-text {
    p {
      font-family: "Poppins";
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #224f34;
    }
  }
}

.snapns-inline {
  scroll-snap-type: inline mandatory;
}

.snapns-inline > * {
  scroll-snap-align: start;
}

#next,
#prev {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  filter: drop-shadow(0px 7px 51px rgba(0, 0, 0, 0.1));
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

#prev {
  background-color: aliceblue;
}

#next {
  background: #c2efd4;
}

.slider-navigation {
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 1000px) {
  .slider {
    grid-auto-columns: 45%;
  }
}

@media screen and (max-width: 768px) {
  .slider {
    grid-auto-columns: 70%;
  }
}
