.contact-section {
  background-color: #c2efd4;
  height: calc(100vh - 120px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .section-content {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 1000px) {
  .contact-section {
    height: auto;
    .section-content {
      width: 85%;
      margin: 0 0 50px 0;
      gap: 50px;
      flex-wrap: wrap;

      app-contact-form {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
