section.banner-container {
  position: absolute;
  padding: 20px 80px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  background-color: #c2efd4;

  .banner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: calc(100vh - 160px);
    margin: 120px 0 0;

    .banner-content {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-around;
      width: 50%;
      height: 100%;
      padding: 30px 0 0 150px;

      h1 {
        width: 649px;
        font-family: "Rufina";
        font-weight: 700;
        font-size: 86px;
        line-height: 106px;
        color: #224f34;
      }

      p {
        width: 565px;
        font-family: "Poppins";
        font-weight: 500;
        font-size: 24px;
        line-height: 220%;
        color: #267d49;
      }

      button {
        width: 258px;
        height: 74px;
        background: #224f34;
        border: none;
        box-shadow: 6px 33px 59px rgba(0, 0, 0, 0.3);
        border-radius: 3px;
        color: #c2efd4;
        font-family: "Poppins";
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        text-transform: uppercase;
        color: #ffffff;
        cursor: pointer;
      }
    }

    .banner-img {
      display: flex;
      justify-content: center;
      height: 570px;
      width: 50%;
      img {
        background-color: #6bc785;
        border-radius: 141px 45px 150px 82px;
        height: 100%;
      }
    }
  }
}
