section.our-products-section {
  background-color: aliceblue;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  h2.section-title {
    font-family: "Roboto Slab";
    font-weight: 500;
    font-size: 50px;
    line-height: 66px;
    color: #224f34;
  }

  .categories-container {
    width: 60%;
    ul {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      li {
        a {
          font-family: "Poppins";
          font-weight: 500;
          font-size: 16px;
          line-height: 33px;
          text-transform: uppercase;
          color: #454545;
          text-decoration: none;
        }
      }
    }
  }

  .products-container {
    display: flex;
    justify-content: center;
    width: 80%;
    .products {
      justify-content: center;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 200px);
      justify-content: space-between;
    }
  }
}

@media screen and (max-width: 1000px) {
  section.our-products-section {
    height: auto;

    .categories-container {
      width: 70%;
      ul {
        li {
          a {
            font-size: 13px;
          }
        }
      }
    }

    .products-container {
      .products {
        display: flex !important;
        justify-content: center !important;
        flex-wrap: wrap;
        gap: 20px;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .categories-container {
    width: 70%;
    ul {
      width: 100%;
      li {
        a {
          font-size: 10px;
        }
      }
    }
  }
}
