<section class="our-products-section home-page-sections">
  <h2 class="section-title apper-item">Our products</h2>
  <div class="categories-container apper-item">
    <ul>
      <li><a href="">sale</a></li>
      <li><a href="">hot</a></li>
      <li><a href="">new arrivals</a></li>
      <li><a href="">Accessories</a></li>
    </ul>
  </div>
  <div class="products-container apper-item">
    <div class="products" *ngIf="products.length">
      <app-card
        *ngFor="let product of products.slice(4, 12)"
        [product]="product"
        [cardType]="cardType"
      ></app-card>
    </div>
  </div>
</section>
