<section class="offer-section">
  <div class="offer-banner">
    <div class="offer-banner-img">
      <img src="../../../../assets/images/banner-img.png" alt="" />
    </div>
    <div class="offer-content">
      <h3>Exclusive offer</h3>
      <p>
        Unlock the ultimate style upgrade with our exclusive offer Enjoy savings
        of up to 40% off on our latest New Arrivals
      </p>
      <div class="countdown">
        <div class="time-box">
          <span>{{ days }}</span>
          <p>Days</p>
        </div>
        <div class="time-box">
          <span>{{ hours }}</span>
          <p>Hours</p>
        </div>
        <div class="time-box">
          <span>{{ minutes }}</span>
          <p>Minutes</p>
        </div>
        <div class="time-box">
          <span>{{ seconds }}</span>
          <p>Seconds</p>
        </div>
      </div>
      <button id="offer-button">Buy now</button>
    </div>
  </div>
</section>
