<aside id="cd-cart" class="speed-in" [ngClass]="{ open: isCartOpen() }">
  <div class="cart-header">
    <h2>Cart</h2>
    <div class="close-btn" (click)="toggleCart()">✖</div>
  </div>
  <hr class="line" />

  <div class="cartsDisplay" *ngIf="detailedProducts.length > 0; else emptyCart">
    <div class="cartProduct" *ngFor="let product of detailedProducts">
      <div class="cartProductImage">
        <img [src]="product.image" alt="{{ product.title }}" />
      </div>
      <div class="cartProductDetails">
        <h4>{{ product.title }}</h4>
        <div>
          <span>${{ product.price }}</span>
          <span>x{{ product.quantity }}</span>
        </div>
      </div>
    </div>
  </div>

  <ng-template #emptyCart>
    <p>Your cart is empty.</p>
  </ng-template>

  <hr class="line" />
  <div class="cart-actions" *ngIf="detailedProducts.length > 0">
    <div class="total-price">
      <h5>Subtotal</h5>
      <span>${{ getCartTotal() }}</span>
    </div>
    <div class="cart-button">
      <button class="buy-now-btn">Buy Now</button>
    </div>
  </div>
</aside>
