#cd-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px 50px;
  position: absolute;
  top: 0;
  right: -100%;
  height: 100vh;
  background-color: #ffffff;
  width: 565px;
  transition: right 0.3s ease-in-out;

  &.open {
    right: 0;
    z-index: 1000;
  }

  .cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    h2 {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
    }

    div.close-btn {
      margin-left: auto;
      cursor: pointer;
    }
  }

  .cartsDisplay {
    width: 100%;
    height: 80%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    .cartProduct {
      margin: 8px 0;
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 90%;
      height: 100px;
      font-family: "Poppins";
      font-weight: 500;
      font-size: 16px;
      color: #267d49;
      .cartProductImage {
        display: flex;
        align-items: center;
        width: 20%;
        aspect-ratio: 1;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .cartProductDetails {
        width: 70%;
      }
    }
  }

  hr.line {
    color: black;
    height: 1px;
    width: 100%;
  }

  .cart-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;

    .total-price {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      font-family: "Poppins";
      color: black;
      h5 {
        font-size: 16px;
        font-weight: 500;
      }
    }
    .cart-button {
      width: 110px;
      button.buy-now-btn {
        width: 100%;
        padding: 10px;
        border: none;
        cursor: pointer;
        font-size: 16px;
        background-color: #224f34;
        color: white;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #cd-cart {
    width: 100%;
  }
}
