section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c2efd4;
  height: calc(100vh - 120px);
  width: 100%;

  .form-container {
    width: clamp(50vw, 60vw, 70vw);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.1);

    app-left-section {
      width: 50%;
    }

    .right-section {
      text-align: center;
      align-content: center;
      width: 50%;
      height: 50vh;

      h2 {
        font-family: "Elephant";
        font-size: 40px;
        line-height: 49px;
        color: #224f34;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  section {
    height: auto;
    padding: 50px 0;

    .form-container {
      height: auto;
      width: 80%;
      flex-wrap: wrap;

      app-left-section {
        width: 100%;
      }

      .right-section {
        width: 100%;
      }
    }
  }
}
