.form-area {
  width: 80%;

  .form-title {
    h3 {
      font-family: "Roboto Slab";
      font-weight: 500;
      font-size: 24px;
      line-height: 220%;
      color: #267d49;
    }
  }

  .form-text {
    p {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #224f34;
    }
  }
}

form.form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 35px;
  margin: 30px 0 0;

  .inputs {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 35px;
    input {
      padding: 8px 15px;
      border: 1px solid #267d49;
      background-color: transparent;
      color: #ffffff;
      border-radius: 3px;
      width: 320px;
      line-height: 30px;
      font-size: 16px;
    }
  }

  .area {
    display: flex;
    align-items: end;
    gap: 35px;
    textarea {
      border: 1px solid #267d49;
      background-color: transparent;
      width: 320px;
      height: 300px;
      line-height: 30px;
      font-size: 16px;
      padding: 8px 15px;
      resize: none;
      scrollbar-width: none;
    }
  }

  .submit-btn {
    border: 1px solid black;
    height: 52px;
    width: 142px;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    cursor: pointer;
    background: transparent;
  }
}
