<div class="form-area">
  <div class="form-title"><h3>Get in Touch</h3></div>
  <div class="form-text">
    <p>
      You can contact us any way that is convenient for you. We are available
      24/7 via fax or email. You can also use a quick contact form below or
      visit us personally.
    </p>
  </div>
  <form action="" class="form">
    <div class="inputs">
      <input type="text" placeholder="Your Name" />
      <input type="email" placeholder="Your Email" />
    </div>
    <div class="area">
      <textarea name="" id="" placeholder="Write Your Message"></textarea>
      <button class="submit-btn">Submit</button>
    </div>
  </form>
</div>
