section.best-selling-section {

  h2 {
    font-family: "Roboto Slab";
    font-weight: 500;
    font-size: 64px;
    line-height: 84px;
    color: #224f34;
  }

  p {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    color: #224f34;
  }

  .cards-container {
    margin: 80px 0 0;
    width: 80%;
    .cards {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
    }
  }

  button#display-all {
    background: transparent;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    color: #224f34;
    box-sizing: border-box;
    padding: 10px 40px;
    gap: 10px;
    border: 2px solid #224f34;
    border-radius: 3px;
    cursor: pointer;
  }
}

@media screen and (max-width: 1000px) {
  section.best-selling-section {
    height: 200vh;
  }
  .cards {
    flex-direction: column;
  }
}