<section class="best-selling-section home-page-sections ">
  <h2 class="apper-item">Best selling</h2>
  <p class="apper-item">Get in on the trend with our curated selection of best-selling styles.</p>
  <div class="cards-container apper-item">
    <div class="cards" *ngIf="products.length">
      <app-card
        *ngFor="let product of products.slice(0, 3)"
        [product]="product"
        [cardType]="cardType"
      ></app-card>
    </div>
  </div>

  <button id="display-all">See all ➜</button>
</section>
